<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xTemp Email - Project BETA</title>
    <link rel="stylesheet" href="assets/css/login.css"/>
    
</head>
<body>

        <div class="app">
            <div id="form" class="form">
                <h1 class="h1Form">xTemp Email</h1>
                <div class="formInput">
                    <label>Usuário:</label>
                    <input id="user" class="userInput Inputs" type="text" placeholder="">
                </div>
                <div class="formInput">
                    <label>Senha:</label>
                    <input id="pass" class="passInput Inputs" type="password" placeholder="">
                </div>

                <div class="msgReturnUser">Usuário ou Senha Invalida</div>


                <div class="formSubmit">
                    <button id="submit" class="btnUser Inputs" type="submit">Entrar</button>
                </div>



            </div>
        </div>

    <script type="text/javascript" src="assets/js/login.js"></script>
</body>
</html>