
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xTemp Email - Project BETA</title>
    <link rel="stylesheet" href="assets/css/dash.css"/>
    <script type="text/javascript" src="assets/js/jquery-3.6.1.min.js"></script>
    
</head>
<body>

    <div id="app">
        <div class="container">

            <div class="texth1">
                <h1>xTemp Email</h1>
            </div>

            <div class="xtempMail">

                    <div class="Fmail">
                            <div class="menuMail">
                                <div class="menu">

                                    <label for="cars">Emails Disponíveis</label>

                                    <select class="mails" id="mails">
                                      <option value="a">a@xtemp.email</option>
                                      <option value="b">b@xtemp.email</option>
                                      <option value="b">emailtemporario@dominio123.com.br</option>
                                    </select>

                                    <a class="boxMail">Inbox</a>

                                    <a class="updateMailBox">Atualizar</a>

                                </div>

                            </div>
                            
                            <div class="inboxMail">
                                


                            <!--
                                <div class="inboxOpen">
                                        <div class="inboxContainerOpen">
                                                    BORA CARALHO CONTEUDO
                                        </div>  
                                </div>



                                    <div class="Mail1">
                                        <h2 class="tituloMail">WebLink Hospedagem</h2>
                                        <p>Com a assinatura do Google One, você aproveita melhor o Google. Como assinante... </p>
                                        <div class="actionMail">
                                            <a style="color: red;">Deletar</a>
                                            <a style="color: green;">Mostrar</a>
                                        </div>
                                    </div>
                            -->



                            </div>

                    </div>

         




            </div>

        </div>
    </div>
   

    <script type="text/javascript" src="assets/js/dash.js"></script>
</body>
</html>